.container
  .col-md-6.col-md-offset-3
    .fat-border.top-margin-20.white-bg
      =image_tag "dog#{rand(6)+1}.png",
                 class: "img-responsive",
                 alt: "dog placeholder"
      =form_for @doggie, html: { multipart: true } do |f|
        = f.file_field :image
        = f.submit "Analyze image"
      -#   %label{for: :image}File to upload
      -#   %p.text-center
      -#     %a.btn.btn-lg.btn-success.paw-button{href: "#"}
      -#       %span.glyphicon.glyphicon-plus{"aria-hidden"=> true}
      -#       Add image
      -#   %a.btn.btn-lg.btn-success.paw-button{href: "#"}
      -#     %span.glyphicon.glyphicon-open{"aria-hidden"=> true}
      -#     Analyze image
