.container.dog-image-report
  .col-md-12.fat-border.top-margin-20.white-bg
    =image_tag @doggie.image,
               class: "img-responsive center-block top-padding-20 bottom-padding-20",
               alt: "dog placeholder"
    %hr/
    %h1.text-center PAWs Report
