.container.dog-image-show
  .col-md-6.col-md-offset-3
    .fat-border.top-margin-20.white-bg
      %h2.text-center Fetching those doggie details ...
      =image_tag @doggie.image,
                 class: "img-responsive center-block bottom-padding-20",
                 alt: "dog placeholder"
