body {
  padding-top: 50px;
  background-color: #89C35C
}

.paw-button {
  margin-top: 20px;
}

.fat-border {
  border: 5px solid black;
}

.top-margin-20 {
  margin-top: 20px;
}

.white-bg {
  background-color: white;
}
