body {
  padding-top: 80px;
  background-image: image_url("tree_bark.png");
}

.paw-button {
  margin-top: 20px;
}

.fat-border {
  border: 3px solid black;
}

.top-margin-20 {
  margin-top: 20px;
}

.top-padding-20 {
  padding-top: 20px;
}

.bottom-padding-20 {
  padding-bottom: 20px;
}

.bottom-margin-20 {
  margin-bottom: 20px;
}

.white-bg {
  background-color: white;
}

#dog-image {
  background-color: white;
  display: block;
  overflow: hidden;
  height: 400px;
  width: 400px;
}

.dog-image-analysis {
  vertical-align: middle;
}

hr {
  border-width: 3px;
  color: magenta;
}

#dog-bg {
  margin-top: 30px;
  max-width: 900px;
  background-color: white;
}
