.navbar {
  height: 80px;
}

.navbar-brand {
  font-family: 'Fascinate', cursive;
  font-size: 3em;
  padding-top: 30px;
  margin-left: 15px;
}

.navbar-text {
  font-family: 'Patrick Hand', cursive;
  font-size: 1.5em;
  padding-top: 10px;
}

.navbar-text {
  font-family: 'Patrick Hand', cursive;
  font-size: 1.5em;
  line-height: 20px;
}

.logout {
  font-family: 'Patrick Hand', cursive;
  font-size: 1.5em;
  padding-top: 10px;
  margin-right: 40px;
}
