.container
  .col-md-6.col-md-offset-3
    =image_tag "dog#{rand(6)+1}.png",
               class: "img-responsive fat-border top-margin-20",
               alt: "dog placeholder"
%p.text-center
  %a.btn.btn-lg.btn-success.paw-button{href: "#"}
    %span.glyphicon.glyphicon-plus{"aria-hidden"=> true}
    Add image
  %a.btn.btn-lg.btn-success.paw-button{href: "#"}
    %span.glyphicon.glyphicon-open{"aria-hidden"=> true}
    Analyze image
